<ion-view view-title="Preferences">
  <ion-content class="padding">

		<div ng-controller="PreferencesCtrl">
			<form id="formprefs" method="post">
				<span id="host" style="display:none">{{host}}</span>
			    <preferences></preferences>
			    <button class="button button-block button-positive" onclick="prefs.savePreferences()">Save</button>
			</form>

			<div class="info" ng-show='ok === undefined || ok === "" '>
	            <div class="messages">
	            	<div ng-bind-html="getHtml(providedservice)"></div>
	                <h6 class="message-text">{{message}}</h6>
	            </div>
        	</div>
		</div>

  </ion-content>
</ion-view>