<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="user">
      <small>User: {{user}}</small>
      <input name="host" ng-model="host" style="display:none"/>
    </div>
    <ion-list>
      <div ng-repeat="service in services">
        <ion-item class="item-stable" ng-click="toggleGroup(service)" ng-class="{active: isGroupShown(service)}">
          <i class="icon" ng-class="isGroupShown(service) ? 'ion-minus' : 'ion-plus'"></i>
          {{service.service}}
        </ion-item>
        <ion-item class="item-accordion" ng-show="isGroupShown(service)" ng-click="showService(service)">
          <div ng-bind-html="serviceprovided | html"></div>
        </ion-item>
      </div>
    </ion-list>

    {{message}}

  </ion-content>
</ion-view>